<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Modules.PatchableIgnoreList.PatchableIgnoreList,Sitecore.Modules.PatchableIgnoreList" patch:instead="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']">
          <prefixes hint="list:AddPrefix">
            <!--<prefix desc="bundles">/bundles/</prefix>-->
          </prefixes>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
