<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Modules.PatchableIgnoreList.PatchableIgnoreList,Sitecore.Modules.PatchableIgnoreList">
          <prefixes>
            <prefix desc="css">/legacyApp/</prefix>
            <prefix desc="benchmark">/PrefixSetBenchmark.aspx</prefix>
          </prefixes>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
